@font-face{
    src:url("../fonts/NiseSegaSonic.TTF");
    font-family:"Sonic"
}
html{
    font-family:"Sonic"
}
body{
    background-image:url("../images/background.png");
}
#container{
    background-image:url("../images/background2.png");
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    padding:40px;
    text-align:center;
    color:white;
    background-repeat:no-repeat;
}
p{
    background-color:rgba(0,0,0,0.6);
    
}
img{
    height:50px;
    width:70px;
    display: inline-block;
}
.button{
    display:inline-block;
}
h2{
    position:relative;
    bottom:60px;
    display:inline-block
}
